{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": "tulip/typescript",
	"rules": {
		"capitalized-comments": [
			"error",
			"always",
			{
				"ignorePattern": "prettier.*|cSpell.*"
			}
		],
		"@typescript-eslint/naming-convention": "off"
	}
}
